<Jumbo>
  <h2>Welcome to Dinner Tonight!</h2>
  <p>We aim to make finding a recipe for dinner easy by searching by ingredients you already have, skipping a trip to the grocery store.</p>
  <!-- <LinkTo @route="index" class="button">Index</LinkTo> -->
</Jumbo>
<div class='ml-5'>
  <h2>Recent Recipes added to Dinner Tonight</h2>
<hr>
<div class="recipe">
  <ul class="results">
    {{#each @model as |recipe|}}
      <li><Recipe @recipe={{recipe}} /></li>
      <hr>
    {{/each}}
  </ul>

</div>
</div>
