<Jumbo>
  <h2>New Dinner Entry</h2>
  <p>
    The Super Rentals website is a delightful project created to explore Ember.
    By building a property rental site, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
</Jumbo>
<input type='text' id='ingredient' value={{ingredient}}/>
<input type='button' value='Add ingredient to list' id='add' {{action "another"}}/>

<ul id='list'>
  {{ingredients}}
  <!-- {{#each ingredients as |ing|}}
    <li><span>{{ing}}</span></li>
  {{/each}} -->
</ul>
